.cardMessage {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    ;
}

.cardMessage__body {
    flex: 1;
}

.cardMessage__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardMessage__usernameText {
    margin: 0;
    font: var(--body-16regular);
    color: var(--black);
}

.cardMessage__dateText {
    font: var(--caption-12regular);
    color: var(--gray-1);
}

.cardMessage__detail {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.cardMessage__status.is-doubleCheck {
    inline-size: 1rem;
    block-size: 1rem;
    background-image: url(../../assets/images/check-message-unread.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cardMessage__messageText {
    margin: 0;
    font: var(--caption-12regular)
}