.message {
    padding: .5rem;
    position: relative;
}
.message__body {
    margin-bottom: .25rem;
}
.message.is-sender {
    background-color: var(--green-1);
    font: var(--body-16regular);
    border-radius: .5rem 0 .5rem .5rem ;
    align-self: flex-end;
}
.message.is-sender::before {
    content: '';
    position: absolute;
    top: 0;
    /* right: -12px; */
    left: 100%;
    display: block;

    inline-size: 12px;
    block-size: 12px;
    box-sizing: border-box;
    border-inline-end: 6px solid transparent;
    border-block-start: 6px solid var(--green-1);
    border-inline-start: 6px solid var(--green-1);
    border-block-end: 6px solid transparent;
}
.message.is-receiver {
    background-color: var(--white);
    font: var(--body-16regular);
    border-radius: 0 .5rem .5rem .5rem ;
    align-self: flex-start;
}

.message.is-receiver::before {
    content: '';
    position: absolute;
    top: 0;
    /* left: -12px; */
    right: 100%;
    display: block;

    inline-size: 12px;
    block-size: 12px;
    box-sizing: border-box;
    border-inline-start: 6px solid transparent;
    border-block-start: 6px solid var(--white);
    border-inline-end: 6px solid var(--white);
    border-block-end: 6px solid transparent;
}

.message__text {
    margin: 0;
}
.message__detail {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .25rem;
}
.message__date {
    font: var(--caption-12regular);
    color: var(--gray-1);
}
.message__status.is-doubleCheck {
    inline-size: 1rem;
    block-size: 1rem;
    background-image: url('../../assets/images/check-message.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}