.user {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}

.user__image {
    inline-size: 3rem;
    block-size: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.user__image img {
    inline-size: 3rem;
    block-size: 3rem;
}

.user__info {
    margin: 0;
}

.user__info span {
    display: block;
}

.user__info--name {
    font: var(--body-16regular);
    margin-bottom: .25rem;
}

.user__info--status {
    font: var(--caption-12bold);
    color: var(--gray-1);
}