@import './components/body.css';
@import './components/chat.css';
@import './components/header.css';
@import './components/user.css';
@import './components/message-list.css';
@import './components/message.css';
@import './components/date.css';
@import './components/action-list.css';
@import './icon.css';
@import './components/button-icon.css';
@import './components/chat-list.css';
@import './components/chat-finder.css';
@import './components/card-message.css';
@import './components/card-message-list.css';
@import './components/layout.css';


:root {
  --black: #000000;
  --gray-1: #666667;
  --gray-2: #f2f2f2;
  --gray-3: #f6f6f6;
  --gray-4: #ededed;
  --white: #ffffff;
  --green-1: #e1f7cb;
  --green-2: #56bca6;
  --green-3: #429488;
  --red: #ff4a4a;
  --blue: #5cb3f0;
  --body-16regular: 400 1rem/1.25rem Inter;
  --body-16bold: 700 1rem/1.25rem Inter;
  --body-14regular: 400 0.875rem/1.125rem Inter;
  --body-14regular_u: 500 0.875rem/1.25rem Inter;
  --caption-12bold: 700 0.75rem/1rem Inter;
  --caption-12regular: 400 0.75rem/1rem Inter;
  --caption-12regular_u: 400 0.75rem/1.25rem Inter;

  --headerSize: 80px;
  --actionSize: 80px;
  --searchSize: 80px;
}


